* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  box-shadow: 9px 9px 0px #f8f9fa;
  text-align: center;
}
h5 {
  color: rgb(0, 123, 255);
  font-weight: 800;
  box-shadow: 9px 9px 0px #f8f9fa;
}

.container {
  align-items: center;
  justify-content: center;
}
.custom_header {
  background-color: rgb(31, 166, 122);
}
.custom_header h1 {
  text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0, 0, 0, 0.15);
  color: white;
}

.custom {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.form {
  padding: 30px 40px;
}
input,
select {
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: monospace;
}
input[name="rpt_date"],
input[name="cust"],
input[name="unit"],
input[name="raketype"],
input[name="placement"],
input[name="lcompletion"],
input[name="ldgtime"],
select[name*="unit"],
input[name="rake_no"] {
  border: 2px solid red !important;
  border-radius: 4px !important;
}
/* 
.fa-exclamation-circle,
.fa-check-circle {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 20px;
} */

small {
  visibility: hidden;
  position: absolute;
  top: 35px;
}

.message {
  position: absolute;
  top: 30%;
  right: 50%;
  font-size: large;
  background-color: red;
  z-index: 1000;
}

.table th {
  font-weight: 600;
}
.table td {
  vertical-align: middle !important;
  text-align: center !important;
}

.table-primary,
.td-bold,
tr:last-child {
  font-weight: 600;
}
#hidden_div {
  display: none;
}

.custom_legend {
  display: grid;
}

.header {
  background: crimson;
  color: whitesmoke !important;
  font-weight: 600;
}

.txtvertical {
  position: absolute;
  writing-mode: vertical-lr;
  grid-column: 1 / 1;
  justify-self: start;
  margin-left: -5px;
  margin-top: 10px;
  background: blueviolet;
  padding: 2px;
  box-shadow: black;
}
.textP {
  grid-row: 2 / 4;
}
.textD {
  grid-row: 5 / 8;
  letter-spacing: 0.1em;
}
.textE {
  grid-row: 8 / 12;
  letter-spacing: 0.189em;
}
.lump {
  box-sizing: border-box;
  height: 3.2rem;
  text-align: center;
  color: crimson;
  font-size: 1.3rem;
  border: solid 1px darkgrey;
  line-height: 22px;
}
.lump span {
  color: rgb(87, 9, 155);
  opacity: 0.7;
  font-size: 1rem;
}
.carousel-item {
  height: 40rem !important;
}
.rake_dist {
  position: relative;
}
.validation_msg {
  position: absolute;
  top: 10px;
  color: red;
  font-size: 1.3rem;
}
